@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.table-container {
  overflow-x: auto;
  background-color: $white;
  border-radius: $border-radius-md;
  box-shadow: $shadow-sm;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 700px;

  @include mobile {
    min-width: 500px;
  }

  th, td {
    padding: $spacing-md;
    text-align: left;
    border-bottom: 1px solid $border-color;
  }

  th {
    background-color: $background-color;
    font-weight: 600;
    color: $text-color;
    white-space: nowrap;
  }

  tbody tr {
    transition: background-color $transition-fast;

    &:hover {
      background-color: rgba($primary-color, 0.05);
    }

    &:last-child td {
      border-bottom: none;
    }
  }
}

.col-logo {
  width: 70px;
}

.col-name {
  min-width: 150px;
}

.col-description {
  min-width: 200px;

  @include mobile {
    display: none;
  }
}

.col-date {
  width: 140px;
  white-space: nowrap;

  @include mobile {
    &:first-of-type {
      display: none;
    }
  }
}

.col-actions {
  width: 50px;
  text-align: center;
}

.product-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: $border-radius-sm;
  background-color: $background-color;
}

.empty-message {
  text-align: center;
  color: $text-light;
  padding: $spacing-xl !important;
  font-style: italic;
}
