@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  @include flex-center;
  z-index: 1000;
}

.modal {
  background-color: $white;
  border-radius: $border-radius-md;
  box-shadow: $shadow-lg;
  max-width: 400px;
  width: 90%;
  overflow: hidden;

  &__content {
    padding: $spacing-xl $spacing-lg;
    text-align: center;
    border-bottom: 1px solid $border-color;
  }

  &__message {
    font-size: $font-size-lg;
    color: $text-color;
    line-height: 1.6;

    strong {
      color: $secondary-color;
    }
  }

  &__actions {
    @include flex-center;
    gap: $spacing-md;
    padding: $spacing-lg;
    background-color: $background-color;
  }
}
