@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.search-box {
  position: relative;
  width: 100%;
  max-width: 300px;

  @include mobile {
    max-width: 100%;
  }
}

.search-input {
  @include input-base;
  padding-left: 10px;
  padding-right: 36px;
  border-radius: 4px;
  background-color: $white;

  &::placeholder {
    color: $text-light;
  }
}

.clear-btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: none;
  background-color: $background-color;
  border-radius: 50%;
  color: $text-light;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color $transition-fast, color $transition-fast;

  &:hover {
    background-color: $border-color;
    color: $text-color;
  }
}
