@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.context-menu {
  position: relative;
  display: inline-block;

  &__trigger {
    @include flex-center;
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color $transition-fast;

    &:hover {
      background-color: $background-color;
    }
  }

  &__dots {
    font-size: $font-size-xl;
    color: $text-light;
    line-height: 1;
  }

  &__dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 120px;
    background-color: $white;
    border-radius: $border-radius-sm;
    box-shadow: $shadow-md;
    z-index: 10;
    overflow: hidden;
  }

  &__item {
    display: block;
    width: 100%;
    padding: $spacing-sm $spacing-md;
    text-align: left;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: $font-size-base;
    color: $text-color;
    transition: background-color $transition-fast;

    &:hover {
      background-color: $background-color;
    }

    &--danger {
      color: $error-color;

      &:hover {
        background-color: rgba($error-color, 0.1);
      }
    }
  }
}
