<div class="skeleton-table">
  <div class="skeleton-header">
    <div class="skeleton-cell skeleton-cell--logo"></div>
    <div class="skeleton-cell skeleton-cell--name"></div>
    <div class="skeleton-cell skeleton-cell--description"></div>
    <div class="skeleton-cell skeleton-cell--date"></div>
    <div class="skeleton-cell skeleton-cell--date"></div>
    <div class="skeleton-cell skeleton-cell--actions"></div>
  </div>
  @for (row of rowsArray; track $index) {
    <div class="skeleton-row">
      <div class="skeleton-cell skeleton-cell--logo"></div>
      <div class="skeleton-cell skeleton-cell--name"></div>
      <div class="skeleton-cell skeleton-cell--description"></div>
      <div class="skeleton-cell skeleton-cell--date"></div>
      <div class="skeleton-cell skeleton-cell--date"></div>
      <div class="skeleton-cell skeleton-cell--actions"></div>
    </div>
  }
</div>
