@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.skeleton-container {
  overflow-x: auto;
}

.skeleton-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 700px;

  @include mobile {
    min-width: 500px;
  }

  th, td {
    padding: $spacing-md;
    text-align: left;
    border-bottom: 0.5px solid $border-color;
  }

  th {
    background-color: $background-color;
    font-weight: 600;
    color: $text-color;
    white-space: nowrap;
  }
}

.col-logo {
  width: 70px;
}

.col-name {
  min-width: 150px;
}

.col-description {
  min-width: 200px;

  @include mobile {
    display: none;
  }
}

.col-date {
  width: 140px;
  white-space: nowrap;
}

.col-actions {
  width: 50px;
  text-align: center;
}

.skeleton {
  @include skeleton-animation;
  border-radius: $border-radius-sm;

  &--logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &--text {
    width: 80%;
    height: 16px;
  }

  &--text-long {
    width: 90%;
    height: 16px;
  }

  &--circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 auto;
  }
}
