@import 'styles/variables';
@import 'styles/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: $font-family;
  font-size: $font-size-base;
  color: $text-color;
  background-color: $background-color;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  font-family: inherit;
}

input, select, textarea {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-md;

  @include mobile {
    padding: 0 $spacing-sm;
  }
}

.btn {
  @include button-base;

  &-primary {
    background-color: $primary-color;
    color: $secondary-color;

    &:hover:not(:disabled) {
      background-color: $primary-dark;
    }
  }

  &-secondary {
    background-color: $white;
    color: $text-color;
    border: 1px solid $border-color;

    &:hover:not(:disabled) {
      background-color: $background-color;
    }
  }

  &-danger {
    background-color: $error-color;
    color: $white;

    &:hover:not(:disabled) {
      background-color: darken($error-color, 10%);
    }
  }
}

.form-group {
  margin-bottom: $spacing-md;

  label {
    display: block;
    margin-bottom: $spacing-xs;
    font-weight: 500;
    color: $text-color;
  }

  input, select, textarea {
    @include input-base;
  }

  .error-message {
    color: $error-color;
    font-size: $font-size-sm;
    margin-top: $spacing-xs;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
